/* Imported Font :: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*
{
    font-family: 'Poppins', sans-serif;
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

:root
{
    /* ===== Colors ===== */

    --body-color : #E4E9F7;
    --sidebar-color : #FFF;
    --primary-color : #695CFE;
    --primary-color-light : #F6F5FF;
    --toggle-color : #DDD;
    --text-color : #707070;

    /* ===== Transitions ===== */

    --transition-03 : all 0.2s ease;
    --transition-03 : all 0.3s ease;
    --transition-04 : all 0.4s ease;
    --transition-05 : all 0.5s ease;
}

body
{
    height : 100vh;
    background : var(--body-color);
}

/* ======== REUSABLE CSS ======== */

.siderbar .text
{
    font-size : 16px;
    font-weight : 500;
    color : var(--text-color)
}

.siderbar .image
{
    min-width : 60px;
    display : flex;
    align-items : center;
}



/* ======== SIDEBAR ======== */

.sidebar
{
    position : fixed;
    top : 0;
    left : 0;
    height : 100%;
    width : 250px;
    padding : 10px 14px;
    background : var(--sidebar-color);
}

.sidebar header
{
    position : relative;
}

.sidebar .image-text img 
{
    width : 40px;
    border-radius : 6px;
}

.sidebar header .image-text
{
    display : flex;
    align-items : center;
}

header .image-text .header-text
{
    display : flex;
    flex-direction : column;
}

.header-text .name
{
    font-weight : 600;
}

.header-text .profession
{
    margin-top : -2px;
}

.sidebar header .toggle
{
    position : absolute;
    top : 50%;
    right : -25px;
    transform : translateY(-50%);
    height : 25px;
    width : 25px;
    background : var(--primary-color);
    display : flex;
    align-items : center;
    justify-content : center;
    border-radius : 50%;
    color : var(--sidebar-color);
    font-size : 22px;
}